:root {
  --cell-size: 40px;
  background-color: #fff0eb;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

header h1 {
  font-size: 35px;
  margin-bottom: -12px;
}

#author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
  font-size: 18px;
}

#author a {
  color: black;
  font-weight: bold;
}